*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

:root{
    --principal:#010440;
    --secundario:#394CAA;
    --fondo:#B4B5B9;
    --contenedor:#CACACC;
    --texto:#0D0D0D;
    --texto2:#404040;
    --rojo:#FF0000;
    --amarillo:#FFD800;
    --verde:#00B333;
    --white:#FFFFFF;
}

/* ======================
   ESTRUCTURA GENERAL
====================== */

html,
body{
    height:100%;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:var(--fondo);
}

/* ======================
   HEADER
====================== */

.topbar{
    height:90px;
    background:var(--principal);
    color:var(--white);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    border-bottom:3px solid var(--secundario);
}

.logo img{
    
    height: 180px;
    width: auto;
}

.logo h2{
    font-size:22px;
    font-weight:600;
}

.user-info{
    display:flex;
    align-items:center;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.profile h4{
    color:white;
}

.profile span{
    color:#e5e5e5;
}

/* ======================
   CONTENEDOR
====================== */

.container{
    flex:1;
    display:flex;
}

/* ======================
   SIDEBAR
====================== */

.sidebar{
    width:260px;
    background:var(--principal);
    color:var(--white);

    padding:20px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}
.sidebar li a{
    color:var(--white);
    text-decoration:none;
    align-items:center;
    gap:12px;
}


.sidebar li:hover{
    background:rgba(255,255,255,.15);
}

.sidebar .active{
    background:rgba(255,255,255,.20);
}
.sidebar .submenu{
    list-style:none;
    padding-left:20px;
    margin-top:10px;
    display:none;
}
.sidebar li:hover .submenu{
    
    display:block;
    transition:.3s;
}

.logout{
    width:100%;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:14px;

    border:none;
    border-radius:12px;

    background:rgba(255,255,255,.12);
    color:var(--white);

    cursor:pointer;

    font-size:17px;
    font-weight:600;

    transition:.3s ease;
}

.logout:hover{
    background:var(--rojo);
    transform:translateY(-2px);
    box-shadow:0 4px 10px rgba(0,0,0,.25);
}

.logout i{
    font-size:18px;
}

/* ======================
   CONTENIDO
====================== */

main{
    flex:1;
    background:var(--contenedor);
}

/* ======================
   FOOTER
====================== */

footer{
    background: var(--principal);
    color: var(--white);
    border-top: 4px solid var(--secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width:100%;
}

.secFooterPrincipal{
    display:flex;
    align-items:center;
    justify-content:justify;
     border-bottom: 2px solid var(--white);
    gap:25px;
}

.logoSenaFooter{
    height:60px;
    width:auto;
    border-right: 5px solid var(--white);
    padding-right:20px;
}

.logoSmaqFooter{
    height:100px;
    width:auto;
}

.infoFooter{
   
    font-size: small;
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height:1.4;
}



.infoFooter span{
    font-size:14px;
}

/* ======================
   RESPONSIVE
====================== */

