table { 
    width: 100%; 
    border-collapse: collapse; 
    background: var(--white); 
    border-radius: 12px;
}
thead tr { 
    background: var(--secundario); 
}
thead th {
    color: var(--white); 
    font-size: 13px; 
    font-weight: 600;
    padding: 13px 14px; 
    text-align: left; 
    white-space: nowrap;
}
tbody tr { 
    border-bottom: 1px solid var(--secundario); 
    transition: background .15s; 
}
tbody tr:last-child { 
    border-bottom: none; 
}
tbody tr:hover { 
    background: var(--secundario); 
}
tbody td { padding: 11px 14px; 
    font-size: 13px; 
    color: var(--texto); 
    vertical-align: middle; 
}

.btn-azul{
    background:var(--principal);
    color:var(--white);
}
.btn-azul:hover{
    background: var(--secundario);
    color:var(--white);
}
