table{
    width:100%;
    border-collapse:collapse;
    text-align: center;
    background-color: var(--white);
    
}

table th{
    padding:15px;
    border:2px solid var(--secundario);
}
table td{
    padding:15px;
    border:2px solid var(--secundario);
}