/*grid general de la pagina
grid contenedor= grid individual de cada pagina*/
.welcome{grid-area: bienvenida;}
.cards{grid-area: secciones;}
.middle{grid-area: paneles;}
.alerts-panel{grid-area: alertas;}

body{
    background: var(--contenedor);
}


.grid-contenedor{
    display:grid;
    gap:20px;

    grid-template:
        "bienvenida"
        "secciones"
        "paneles"
        "alertas";
 
        /* definir ancho a diferentes dispositivos, en este caso tablet */
@media (min-width: 768px) {
    
        grid-template:
            /* crear columnas */
            "topbar topbar" auto
            "topbar topbar" auto
            "img hj1" auto
            "hj2 descripcion" auto
            "boton-volver boton-mantenimientos" auto
            "boton boton"auto
            "footer footer" auto
            / 50% auto; /* definir ancho de columnas */
    }

        @media (min-width: 992px) {
          gap:10px;
        /* definir ancho a diferentes dispositivos, en este caso desktop */
        grid-template:
        
            /* crear columnas */
            "topbar topbar" auto
            "img hj1" auto
            "hj2 descripcion" auto
            "boton-volver boton-mantenimientos" auto
            "boton boton"auto
            "footer footer" auto

            / auto 50%; /* definir ancho de columnas */
    }
}

.logout{
    border:none;
    background:none;
    color:var(--white);
    cursor:pointer;
    font-size:17px;
    text-align:left;
}




/* BIENVENIDA */

.welcome{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.welcome h1{
    color:var(--texto);
}

.welcome p{
    color:var(--texto2);
}

.date{
    background:var(--white);
    padding:15px 25px;
    border-radius:12px;
}

/* TARJETAS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:25px;
}

.card{
    background:var(--white);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
}

.card h2{
    font-size:45px;
    margin:15px 0;
}

.card p{
    color:var(--texto2);
}

.card a{
    text-decoration:none;
    color:var(--principal);
    font-weight:600;
}

.icon{
    width:60px;
    height:60px;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
}

.green{
    background:rgba(0,179,51,.15);
    color:var(--verde);
}

.yellow{
    background:rgba(255,216,0,.2);
    color:#a88600;
}

.blue{
    background:rgba(57,76,170,.15);
    color:var(--principal);
}

.red{
    background:rgba(255,0,0,.15);
    color:var(--rojo);
}

/* SECCIÓN MEDIA */

.middle{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.panel{
    background:var(--white);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
}

.panel-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.panel-title h3{
    color:var(--texto);
}

.panel-title a{
    text-decoration:none;
    color:var(--principal);
    font-weight:600;
}

/* ITEMS */

.item{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.item img{
    width:70px;
    height:70px;
    border-radius:8px;
}

.item h4{
    color:var(--texto);
}

.item p{
    color:var(--texto2);
}

.status{
    margin-left:auto;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.complete{
    background:rgba(0,179,51,.15);
    color:var(--verde);
}

.process{
    background:rgba(255,216,0,.3);
    color:var(--texto);
}

/* DONUT */

.chart-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}

.chart{
    width:220px;
    height:220px;
    border-radius:50%;
    background:conic-gradient(
        var(--verde) 0 79%,
        var(--amarillo) 79% 89%,
        var(--principal) 89% 96%,
        var(--rojo) 96% 100%
    );
    position:relative;
}

.chart::after{
    content:"";
    width:120px;
    height:120px;
    background:var(--white);
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

/* LEYENDA */

.legend p{
    margin-bottom:12px;
    color:var(--texto2);
}

.green-dot,
.yellow-dot,
.blue-dot,
.red-dot{
    width:12px;
    height:12px;
    border-radius:50%;
    display:inline-block;
    margin-right:8px;
}

.green-dot{
    background:var(--verde);
}

.yellow-dot{
    background:var(--amarillo);
}

.blue-dot{
    background:var(--principal);
}

.red-dot{
    background:var(--rojo);
}



.alerts{
    margin-top:20px;
}

.alert-item{
    padding:15px;
    border-bottom:1px solid #ddd;
    color:var(--texto);
}

.alert-item i{
    color:var(--rojo);
    margin-right:10px;
}